#root {
	max-width: 1280px;
	margin: 0;
	padding: 0;
	text-align: center;
	/* border: 1px solid red; */
}

.Pacman {
	background-color: "#0b0b0b";
	max-height: "100vh";
	max-width: "100vw";
	color: "#ddd";
	padding: 0;
	/* border: 3px solid red; */
}

.PacmanCanvas {
	border: 3px solid #201070;
	border-radius: 8px;
	margin-top: 1.5rem;
}